<%= custom_form_for @contract.new_record? ? [@contract.client, @contract]: [@contract], remote: true, html: {class: 'custom-form'} do |f| %>
  <%= render partial: 'shared/form_errors', formats: [:js], locals: { object: @contract } %>

  <div class="form-group row">
    <%= f.label :date, 'Date:' %>
    <%= f.date_field :date, placeholder: @contract.date %>
    <%= f.label :old_num, 'Old Number:' %>
    <%= f.number_field :old_num, placeholder: @contract.old_num %>
  </div>
  <div class="form-group row">
    <%= f.label :category, 'Category:' %>
    <%= f.select :category, Contract.categories.keys.map {|c| [c.titleize,c]}, selected: @contract.category %>
    <%= f.label :pay_method, 'Pay method:' %>
    <%= f.text_field :pay_method, placeholder: @contract.pay_method %>
  </div>
  <div class="form-group row">
    <%= f.label :status, 'Status:' %>
    <%= f.select :status, Contract.statuses.keys.map {|c| [c.titleize,c]}, selected: @contract.status %>
    <%= f.label :narrator_type, 'Narrator type:' %>
    <%= f.select :narrator_type, Contract.narrator_types.keys.map {|c| [c.titleize,c]}, selected: @contract.narrator_type %>
  </div>
  <div class="form-group row">
    <%= f.label :archiving_status, 'Archiving status:' %>
    <%= f.select :archiving_status, Contract.archiving_statuses.keys.map {|c| [c.titleize,c]}, selected: @contract.archiving_status %>
    <%= f.label :renewal_date, 'Renewal date:' %>
    <%= f.date_field :renewal_date, placeholder: @contract.renewal_date %>
  </div>
  <div class="form-group row">
    <%= f.label :language, 'Language:' %>
    <%= f.text_field :language, placeholder: @contract.language %>
    <%= f.label :audio_format, 'Audio format:' %>
    <%= f.text_field :audio_format, placeholder: @contract.audio_format %>
  </div>
  <div class="form-group row">
    <%= f.label :tt_prod_contracted, 'TT Prod. Contracted:' %>
    <%= f.number_field :tt_prod_contracted, placeholder: @contract.tt_prod_contracted %>
    <%= f.label :tt_inst_contracted, 'TT Instal. Contracted:' %>
    <%= f.number_field :tt_inst_contracted, placeholder: @contract.tt_inst_contracted %>
  </div>
  <p class="mt-3">Services:</p>
  <div id="service-container">
    <%= f.fields_for :services, @contract.services do |ff| %>
      <%= render partial: "services", locals: {ff: ff} %>
    <% end %>
  </div>
  <%= link_to_add_fields("New services", f, 'services') %>

  <div class="mt-3"></div>
  <%= f.submit 'Save', class: 'btn btn-secondary' %>
<% end %>
