<div class="card-block" id="object-production-<%= @id || ff.object.id %>">
  <% if ff.object.persisted? %>
    <label class="btn btn-danger">
      <%= ff.check_box :_destroy %>
    </label>
    <%= link_to destroy_object_path(ff.object.class.name.downcase, ff.object.id), remote: true, method: :delete, data: { confirm: "Are you sure?" } do %>
      <button class="btn btn-danger btn-sm">Delete!</button>
    <% end %>
  <% else  %>
    <%= button_tag "x", type: "button", remote: true, class:"btn btn-danger", id: "remove-new-object", "data-id": @id, "data-type": 'production' %>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2" for="">Theme: </label>
    <div class="col-sm-4"><%= ff.text_field :theme, placeholder: ff.object.theme %></div>
    <label class="col-sm-2" for="">Details: </label>
    <div class="col-sm-4"><%= ff.text_area :details, placeholder: ff.object.details %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="">Airing month: </label>
    <div class="col-sm-4"><%= ff.month_field :airing_month, value: ff.object.airing_month%></div>
    <label class="col-sm-2" for="">Renew forecast month: </label>
    <div class="col-sm-4"><%= ff.month_field :renew_forecast_month, value: ff.object.renew_forecast_month%></div>
  </div>
</div>
