<tr id="object-production-<%= @id || ff.object.id %>" data-toggle="collapse" data-target=".collapseProductions-<%= @id || ff.object.id %>">
  <td>
    <% if ff.object.persisted? %>
      <label class="btn-sm">
        <%= ff.check_box :_destroy %>
      </label>
    <% end %>
  </td>
  <td><%= ff.object.persisted? ? ff.object.display : 'new production' %></td>
  <td class="text-right">
    <% if ff.object.new_record? %>
        <%= button_tag "x", type: "button", remote: true, class:"btn btn-danger btn-sm", id: "remove-new-object", "data-id": @id, "data-type": 'production' %>
    <% elsif ff.object.persisted? %>
      <%= link_to destroy_object_path(ff.object.class.name.downcase, ff.object.id), remote: true, method: :delete, data: { confirm: "Are you sure?" } do %>
      <button class="btn btn-danger btn-sm object_delete">x</button>
    <% end %>
  <% end %>
  </td>
</tr>
<tr class="collapse collapseProductions-<%= @id || ff.object.id %> <%= 'show' if ff.object.new_record? %> ">
  <td colspan="3">
    <div class="card">
      <div class="card-block">
        <div class="form-group row">
          <%= ff.label :theme, 'Theme:' %>
          <%= ff.text_field :theme, placeholder: ff.object.theme %>
          <%= ff.label :details, 'Details:' %>
          <%= ff.text_area :details, placeholder: ff.object.details %>
        </div>
        <div class="form-group row">
          <%= ff.label :month_field, 'Airing month:' %>
          <%= ff.month_field :airing_month, value: ff.object.airing_month, 'asp-format':"{0:yyyy-MM}" %>
          <%= ff.label :renew_forecast_month, 'Renew forecast month:' %>
          <%= ff.month_field :renew_forecast_month, value: ff.object.renew_forecast_month, 'asp-format':"{0:yyyy-MM}" %>
        </div>
      </div>
    </div>
  </td>
</tr>
