<%= form_for @op.new_record? ? [@op.contract, @op] : [@op], remote: true, html: {class: 'custom-form'} do |f| %>
  <% if @op.errors.any? %>
  <ul>
    <% @op.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2" for="">Narrator: </label>
    <div class="col-sm-4"><%= f.text_field :narrator, placeholder: @op.narrator %></div>
    <label class="col-sm-2" for="">Language: </label>
    <div class="col-sm-4"><%= f.text_field :language, placeholder: @op.language %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="">Track: </label>
    <div class="col-sm-6"><%= f.text_field :track, placeholder: @op.track %></div>
    <label class="col-sm-2" for="">Type: </label>
    <div class="col-sm-2"><%= f.select :kind, Op.kinds.keys.map {|c| [c.titleize,c]}, selected: @op.kind %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="">Process phase: </label>
    <div class="col-sm-2"><%= f.select :process_phase, Op.process_phases.keys.map {|c| [c.titleize,c]}, selected: @op.process_phase %></div>
    <label class="col-sm-2" for="">Status: </label>
    <div class="col-sm-2"><%= f.select :status, Op.statuses.keys.map {|c| [c.titleize,c]}, selected: @op.status %></div>
    <label class="col-sm-2" for="">Priority: </label>
    <div class="col-sm-2"><%= f.select :priority, Op.priorities.keys.map {|c| [c.titleize,c]}, selected: @op.priority %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="">Briefing Date: </label>
    <div class="col-sm-4"><%= f.date_field :briefing_date, placeholder: @op.briefing_date %></div>
    <label class="col-sm-2" for="">Max delivery date: </label>
    <div class="col-sm-4"><%= f.date_field :max_delivery_date, placeholder: @op.max_delivery_date %></div>
    <label class="col-sm-2" for="">Text delivery date: </label>
    <div class="col-sm-4"><%= f.date_field :text_delivery_date, placeholder: @op.text_delivery_date %></div>
    <label class="col-sm-2" for="">Text approving date: </label>
    <div class="col-sm-4"><%= f.date_field :text_approving_date, placeholder: @op.text_approving_date %></div>
    <label class="col-sm-2" for="">Recording date: </label>
    <div class="col-sm-4"><%= f.date_field :recording_date, placeholder: @op.recording_date %></div>
    <label class="col-sm-2" for="">Demo delivery date: </label>
    <div class="col-sm-4"><%= f.date_field :demo_delivery_date, placeholder: @op.demo_delivery_date %></div>
    <label class="col-sm-2" for="">Demo approving date: </label>
    <div class="col-sm-4"><%= f.date_field :demo_approving_date, placeholder: @op.demo_approving_date %></div>
    <label class="col-sm-2" for="">Studio release date: </label>
    <div class="col-sm-4"><%= f.date_field :studio_release_date, placeholder: @op.studio_release_date %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="">Solicitant: </label>
    <div class="col-sm-4"><%= f.collection_select :solicitant_id, @op.contract.client.contacts.all, :id, :fullname, selected: @op.solicitant&.id, include_blank: true %></div>
    <label class="col-sm-2" for="">Text approver: </label>
    <div class="col-sm-4"><%= f.collection_select :text_approver_id, User.all, :id, :fullname, selected: @op.text_approver&.id, include_blank: true %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="">Executor - Comunication: </label>
    <div class="col-sm-2"><%= f.collection_select :comun_executor_id, User.all, :id, :fullname, selected: @op.comun_executor&.id, include_blank: true %></div>
    <label class="col-sm-2" for="">Executor - Studio: </label>
    <div class="col-sm-2"><%= f.collection_select :studio_executor_id, User.all, :id, :fullname, selected: @op.studio_executor&.id, include_blank: true %></div>
    <label class="col-sm-2" for="">Editor: </label>
    <div class="col-sm-2"><%= f.collection_select :editor_id, User.all, :id, :fullname, selected: @op.editor&.id, include_blank: true %></div>
  </div>
  <p class="mt-3">Production:</p>
  <div id="production-container">
    <% @op.contract.productions.available(@op.id).each do |prod| %>
      <div class="col-sm-12">
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :production_ids, {multiple: true, class: "form-check-input", type: "checkbox" }, prod.id, nil  %>
            <%= prod.theme %>
          </label>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-3"></div>
  <%= f.submit 'Save', class: 'btn btn-primary px-0' %>
<% end %>
