<% provide(:title, @user.fullname) %>

<div class='row justify-content-md-center pt-3'>
  <div class='container'>
    <%= form_for @user do |f| %>
      <div class='form-group'>
        <label>Actual password</label>
        <%= password_field_tag :current_password, params[:current_password], placeholder: 'Current password',class: 'form-control' %>
      </div>
      <div class='form-group'>
        <label>New password</label>
        <%= f.password_field :password, placeholder: 'new password', class: 'form-control'%>
      </div>
      <div class='form-group'>
        <label>New password confirmation</label>
        <%= f.password_field :password_confirmation, placeholder: 'new password confirmation', class: 'form-control'%>
      </div>
      <div class='btn-group' role='group' aria-label='Navigation'>
        <a href="<%= user_path %>" class='btn btn-secondary' role='button'>Back</a>
        <%= f.submit 'Salvar', class: 'btn btn-secondary', role: 'button' %>
      </div>
    <% end %>
  </div>
</div>
