<div class="card-header" id="heading-<%= class_name %>-<%= id %>">
  <% if ff.object.persisted? %>
    <label class="btn btn-danger btn-sm">
      <%= ff.check_box :_destroy %>
    </label>
  <% end %>
  <% url = class_name == 'contract' ? contract_path(ff.object) : "#collapse-#{class_name}-#{id}"%>
  <a data-toggle="<%= 'collapse' if class_name != 'contract'%>" href="<%= url %>" aria-expanded="false" aria-controls="collapse-<%= class_name %>-<%= id %>">
    <small><%= ff.object.new_record? ? "[new]" : ff.object.display %></small>
  </a>
  <% if ff.object.new_record? && class_name != 'contract' %>
      <%= button_tag "x", type: "button", remote: true, class:"btn btn-danger", id: "remove-new-object", "data-id": @id, "data-type": class_name %>
  <% elsif ff.object.persisted? %>
    <%= link_to destroy_object_path(ff.object.class.name.downcase, id), remote: true, method: :delete, data: { confirm: "Are you sure?" } do %>
      <button class="btn btn-danger btn-sm">Delete!</button>
    <% end %>
  <% end %>
</div>
