<%= f.fields_for :addresses, @client.addresses do |ff| %>
<div class="card">
  <div class="card-header" id="heading-add-<%= ff.object.id %>">
    <% if ff.object.persisted? %>
      <label class="btn btn-danger">
        <%= ff.check_box :_destroy %>
      </label>
    <% end %>
    <a data-toggle="collapse" href="#collapse-add-<%= ff.object.id %>" aria-expanded="false" aria-controls="collapse-add-<%= ff.object.id %>">
      <small>
        <%= ff.object.new_record? ? "[new]" : ff.object.complete_address %>
      </small>
    </a>
  </div>
  <div id="collapse-add-<%= ff.object.id %>" class="collapse">
    <div class="card-block">
      <div class="form-group row">
        <label class="col-sm-2" for="">Address: </label>
        <div class="col-sm-10"><%= ff.text_field :address, placeholder: 'address' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Num: </label>
        <div class="col-sm-4"><%= ff.text_field :num, placeholder: 'num' %></div>
        <label class="col-sm-2" for="">Complement: </label>
        <div class="col-sm-4"><%= ff.text_field :complement, placeholder: 'complement' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">District: </label>
        <div class="col-sm-4"><%= ff.text_field :district, placeholder: 'district' %></div>
        <label class="col-sm-2" for="">City: </label>
        <div class="col-sm-4"><%= ff.text_field :city, placeholder: 'city' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">State: </label>
        <div class="col-sm-4"><%= ff.text_field :state, placeholder: 'state' %></div>
        <label class="col-sm-2" for="">Country: </label>
        <div class="col-sm-4"><%= ff.text_field :country, placeholder: 'country' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Zip Code: </label>
        <div class="col-sm-4"><%= ff.text_field :zip_code, placeholder: 'zip code' %></div>
      </div>
    </div>
  </div>
</div>
<% end %>
