<div class="card" id="object-address-<%= @id || ff.object.id %>">
  <%= render partial: 'shared/colapse_header', locals: {ff: ff, id: @id || ff.object.id, class_name: 'address' } %>
  <div id="collapse-address-<%= @id || ff.object.id %>" class="collapse <%= "show" if ff.object.new_record? %>">
    <div class="card-block">
      <div class="form-group row">
        <label class="col-sm-2" for="">Address: </label>
        <div class="col-sm-10"><%= ff.text_field :address, placeholder: 'address' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Num: </label>
        <div class="col-sm-4"><%= ff.text_field :num, placeholder: 'num' %></div>
        <label class="col-sm-2" for="">Complement: </label>
        <div class="col-sm-4"><%= ff.text_field :complement, placeholder: 'complement' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">District: </label>
        <div class="col-sm-4"><%= ff.text_field :district, placeholder: 'district' %></div>
        <label class="col-sm-2" for="">City: </label>
        <div class="col-sm-4"><%= ff.text_field :city, placeholder: 'city' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">State: </label>
        <div class="col-sm-4"><%= ff.text_field :state, placeholder: 'state' %></div>
        <label class="col-sm-2" for="">Country: </label>
        <div class="col-sm-4"><%= ff.text_field :country, placeholder: 'country' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Zip Code: </label>
        <div class="col-sm-4"><%= ff.text_field :zip_code, placeholder: 'zip code' %></div>
      </div>
    </div>
  </div>
</div>
