<div class="card" id="object-contact-<%= @id || ff.object.id %>">
  <%= render partial: 'shared/colapse_header', locals: {ff: ff, id: @id || ff.object.id, class_name: 'contact' } %>
  <div id="collapse-contact-<%= @id || ff.object.id %>" class="collapse <%= "show" if ff.object.new_record? %>">
    <div class="card-block">
      <div class="form-group row">
        <label class="col-sm-2" for="">Fullname: </label>
        <div class="col-sm-10"><%= ff.text_field :fullname, placeholder: 'fullname' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Telephone: </label>
        <div class="col-sm-4"><%= ff.telephone_field :telephone, placeholder: 'telephone' %></div>
        <label class="col-sm-2" for="">Mobile: </label>
        <div class="col-sm-4"><%= ff.telephone_field :mobile, placeholder: 'mobile' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Email: </label>
        <div class="col-sm-4"><%= ff.email_field :email, placeholder: 'email' %></div>
        <label class="col-sm-2" for="">Birthday: </label>
        <div class="col-sm-4"><%= ff.date_field :birthday, placeholder: 'birthday' %></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2" for="">Position: </label>
        <div class="col-sm-4"><%= ff.text_field :position, placeholder: 'position' %></div>
        <label class="col-sm-2" for="">Responsible for: </label>
        <div class="col-sm-4"><%= ff.text_field :responsible_for, placeholder: 'responsible_for' %></div>
      </div>
    </div>
  </div>
</div>
