<div class="contract-container">
  <div data-toggle="collapse" data-target="<%= '#collapseContracts'%>" aria-expanded="false" aria-controls="collapseContracts">
    <h4 role="button">Contracts</h4>
  </div>
  <div class="collapse" id="collapseContracts">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Category</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :contracts, @client.contracts do |ff|%>
          <tr role="button" id="object-contract-<%= ff.object.id %>" data-href="<%= contract_path(ff.object.id) %>">
            <td><%= ff.object.category %></td>
            <td><%= ff.object.date %></td>
            <td><%= ff.object.status %></td>
            <td class="text-right">
              <%= link_to destroy_object_path(ff.object.class.name.downcase, ff.object.id), remote: true, method: :delete, data: { confirm: "Are you sure?" } do %>
              <button class="btn btn-danger btn-sm object_delete">x</button>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= link_to "New contract", new_client_contract_path(@client)%>
    </div>
  </div>
</div>
