<%= form_for @client, html: {class: 'custom-form'} do |f| %>
  <% if @client.errors.any? %>
  <ul>
    <% @client.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div class="form-group row">
    <label class="col-sm-2" for="client_business_name">Business Name: </label>
    <div class="col-sm-10"><%= f.text_field :business_name, placeholder: @client.business_name %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="client_legal_name">Legal Name: </label>
    <div class="col-sm-10"><%= f.text_field :legal_name, placeholder: @client.legal_name %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="client_cnpj">CNPJ: </label>
    <div class="col-sm-4"><%= f.number_field :cnpj, placeholder: @client.cnpj %></div>
    <label class="col-sm-2" for="client_website">Website: </label>
    <div class="col-sm-4"><%= f.text_field :website, placeholder: @client.website %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="client_telephone">Telephone: </label>
    <div class="col-sm-4"><%= f.text_field :telephone, placeholder: @client.telephone %></div>
    <label class="col-sm-2" for="client_placeholder">Fax: </label>
    <div class="col-sm-4"><%= f.text_field :fax, placeholder: @client.fax %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="client_welcome_letter">Welcome letter: </label>
    <div class="col-sm-4"><%= f.date_field :welcome_letter, placeholder: @client.welcome_letter %></div>
    <label class="col-sm-2" for="client_month_anniversary">Anniversary month: </label>
    <div class="col-sm-4"><%= f.month_field :month_anniversary, value: @client.month_anniversary%></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="client_referrer">Referrer: </label>
    <div class="col-sm-10"><%= f.text_area :referrer, placeholder: @client.referrer %></div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2" for="client_category_sector">Sector: </label>
    <div class="col-sm-4"><%= select_tag "client_category_sector", options_from_collection_for_select(ClientCategory.all.select(:sector).distinct.order(:sector), "sector", "sector", selected: @client.category&.sector), include_blank: true %></div>
    <label class="col-sm-2" for="client_category_id">Category: </label>
    <div class="col-sm-4"><%= f.collection_select :category_id, @client.new_record? ? ClientCategory.all.select(:id, :name) : [@client.category], :id, :name, {include_blank: true}, selected: @client.category&.name %></div>
  </div>
  <fieldset id="category_attributes" disabled>
    <div class="form-group row">
      <%= f.fields_for :category, ClientCategory.new do |ff| %>
          <label class="col-sm-2" for="">New sector: </label>
          <div class="col-sm-4"><%= ff.text_field :sector, placeholder: 'Sector' %></div>
          <label class="col-sm-2" for="">New category: </label>
          <div class="col-sm-4"><%= ff.text_field :name, placeholder: 'Name'%></div>
      <% end %>
    </div>
  </fieldset>

  <div class="form-group row">
    <label class="col-sm-2">New category?</label>
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" id="new_category">
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2" for="">Seller: </label>
    <div class="col-sm-2"><%= f.collection_select :seller_id, User.all, :id, :fullname, selected: @client.seller&.id, include_blank: true %></div>
    <label class="col-sm-2" for="">Captured by: </label>
    <div class="col-sm-2"><%= f.collection_select :captured_by_id, User.all, :id, :fullname, selected: @client.captured_by&.id, include_blank: true %></div>
    <label class="col-sm-2" for="">Telemarketing: </label>
    <div class="col-sm-2"><%= f.collection_select :telemarketing_id, User.all, :id, :fullname, selected: @client.telemarketing&.id, include_blank: true %></div>
  </div>

  <% unless @client.new_record? %>
    <p class="mt-3">Contracts:</p>
    <div id="contract-container">
      <%= render partial: "contracts", locals: {f: f} %>
    </div>
    <%= link_to "New contract", new_client_contract_path(@client)%>
  <% end %>

  <p class="mt-3">Addresses:</p>
  <div id="address-container">
    <%= f.fields_for :addresses, @client.addresses do |ff| %>
      <%= render partial: "addresses", locals: {ff: ff} %>
    <% end %>
  </div>
  <%= link_to_add_fields("New address", f, 'addresses') %>

  <p class="mt-3">Contacts:</p>
  <div id="contact-container">
    <%= f.fields_for :contacts, @client.contacts do |ff| %>
      <%= render partial: "contacts", locals: {ff: ff} %>
    <% end %>
  </div>
  <%= link_to_add_fields("New contact", f, 'contacts') %>

  <%= f.submit 'Save', class: 'btn btn-primary px-0' %>
<% end %>
