<li class="nav-item <%= "active" if current_page?(edit_user_path) %>">
  <a class="nav-link" href="<%= edit_user_path(current_user) %>">profile</a>
</li>
<li class="nav-item <%= "active" if current_page?('') %>">
  <a class="nav-link" href="<%= '#' %>">reports</a>
</li>
<li class="nav-item <%= "active" if current_page?(clients_path) %>">
  <a class="nav-link" href="<%= clients_path %>">clients</a>
</li>
<li class="nav-item <%= "active" if current_page?(contracts_path) %>">
  <a class="nav-link" href="<%= contracts_path %>">contracts</a>
</li>
